# Production — скопируйте в .env и заполните
DATABASE_URL="file:./prod.db"
BOT_TOKEN="ваш_токен_бота"
JWT_SECRET="сложный_секрет_минимум_32_символа"
CORS_ORIGIN="https://cs2casino.space"
MANAGER_TG_ID=""
ACCOUNTANT_TG_ID=""
AUTO_CREATE_ACCOUNTANT="false"
DEV_BYPASS_TOKEN=""
NODE_ENV="production"
PORT="3000"
